## 1. Print the hour, minute and second for the timestamp provided below :

In [1]:
from datetime import time

# time(hour, minute, second, microsecond)
t = time(12,28,55)

In [2]:
# Solution : 

from datetime import time 
t = time(6, 45, 25, 234566)


print("hour =", t.hour)
print("minute =", t.minute)
print("second =", t.second)
print("microsecond =", t.microsecond)

hour = 6
minute = 45
second = 25
microsecond = 234566

## 2. Print the year, month, hour, minutes, seconds  :

In [3]:
from datetime import datetime

# Year, month, hour, minutes, seconds :
t = datetime(2021, 1, 28, 23, 55, 59)

In [4]:
# Solution : 

from datetime import datetime

t = datetime(2017, 1, 28, 23, 55, 59)
print("year =", t.year)
print("month =", t.month)
print("hour =", t.hour)
print("minute =", t.minute)
print('seconds =', t.second)

year = 2017
month = 1
hour = 23
minute = 55
seconds = 59

## 3. Extract the name of the day from a datetime object :

In [5]:
from datetime import datetime
t = datetime(2017, 1, 28, 23, 55, 59)
t.strftime('%A')

'Saturday'

## 4. Advanced : Get the name of Month, Day for the ranges of dates provided below :

In [6]:
import pandas as pd
dr = pd.date_range(start='2008-01-01', end='2008-03-01')
df = pd.DataFrame()
df['Date'] = dr
df

         Date
0  2008-01-01
1  2008-01-02
2  2008-01-03
3  2008-01-04
4  2008-01-05
..        ...
56 2008-02-26
57 2008-02-27
58 2008-02-28
59 2008-02-29
60 2008-03-01

[61 rows x 1 columns]

In [7]:
# Solution : 

import pandas as pd
dr = pd.date_range(start='2008-01-01', end='2008-03-01')
df = pd.DataFrame()
df['Date'] = dr
df['Week_Day'] = pd.to_datetime(dr).weekday
df['Day_name'] = pd.to_datetime(dr).strftime("%A")
df['Month_name'] = pd.to_datetime(dr).strftime("%B")
df

         Date  Week_Day   Day_name Month_name
0  2008-01-01         1    Tuesday    January
1  2008-01-02         2  Wednesday    January
2  2008-01-03         3   Thursday    January
3  2008-01-04         4     Friday    January
4  2008-01-05         5   Saturday    January
..        ...       ...        ...        ...
56 2008-02-26         1    Tuesday   February
57 2008-02-27         2  Wednesday   February
58 2008-02-28         3   Thursday   February
59 2008-02-29         4     Friday   February
60 2008-03-01         5   Saturday      March

[61 rows x 4 columns]